/*
 * great real estate default CSS
 *
 * override with your own in your theme
 */
#activelistings {
	clear: left;
}
#pendingsales {
	clear: left;
}
#soldlistings {
	clear: left;
}

#gre_map_canvas, #gre_map_multi {
	width: 100%;
	height: 400px;
	border: 1px solid black;
}

#gmap-info {
	padding: 0;
	margin: 0;
}
#gmap-info h3 {
	padding: 0;
	text-align: left;
	font-size: 14px;
	margin: 0px 0px 0px 0px;
}

#gmap-info .listing-thumb {
	float: left;
	padding-right: 5px;
}
#gmap-info p {
	text-align: left;
	vertical-align: top;
}

.propdata {
	clear: left;
	display: block;
	font-variant: normal;
	font-size: smaller;
}
.propdata h3 {
	padding: 0px;
	margin: 0px;
}
.propfeatures {
	font-weight: bold;
	color: #34431d;
}
.propdata h3 {
	font-style: italic;
}
.prop-box-featured em {
	font-size: smaller;
}

.prop-box, .prop-box-avail {
}
.prop-box-avail h2, .prop-box-avail a, .prop-box-avail h3 {
	font-size: inherit;
}

.prop-box {
}
.prop-box h2, .prop-box a, .prop-box h3 {
	font-size: inherit;
}
.prop-box-featured {
	min-height: 80px;
	display: block;
	padding: 0px;
	margin: 0px;
}
.prop-float-container {
}
.prop-box em {
	font-size: smaller;
}

.propwassold {
	color: red;
	font-weight: bold;
}

#listing-container {
    margin-bottom: 30px;
}

#listing-container h2, #listing-container p {
    margin: 0;
}

#listing-container h2 {
    font-size: 12px;
}
