/*
 * Custom styles to hide "branding"
 * Adapt this to your current theme.
*/

body, #page {
	background: white;
	color: black;
	margin: 0;
}
#header, #sidebar, #footer, #sidebar2, #sidebar3, #sidebar-listings, #floatbar, #pagetools, #commentform, #respond, #breadcrumbs, #re_downloads {
	display: none;
}
.RSSlinks {
	display: none;
}
#content {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	margin: 0px;
}
.ngg-gallery-thumbnail-box {
	float: left;
	margin: 2px;
}
.ngg-clear {
	clear: both;
}

